# Ignorer les caches Python
__pycache__/
*.pyc

# Ignorer tout le dossier data et son contenu
data/*

# Mais ne pas ignorer ces deux fichiers :
!data/nino.jpg
!data/rgb.png
!data/rgb.png
!data/ma_video.mp4
!data/fluo_latex_1.tif